.header_wrapper {
  min-height: 108px;
}


/*header styling starts*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  /* background-color: #fff; */
  /* box-shadow: 0px 8px 7px -11px #000;
  -webkit-box-shadow: 0px 8px 7px -11px #000; */
  /* background: linear-gradient(112.84deg, #46BAEB 0.33%, #AF2CFF 38.23%, #F790AF 65.22%, #C1ABFF 100%); */
  background: rgb(91, 73, 255);
  z-index: 9999;
}

.hamburger-icon>svg {
  fill: #fff;
}

button.hamburger-icon:focus {
  outline: none;
}

.hamburger-icon {
  background: transparent;
  border: transparent;
  font-size: 26px;
  line-height: 36px;
  display: none;
}

.hamburger-icon:hover {
  cursor: pointer;
}

.search-icon {
  text-decoration: none;
  color: #3d4244;
}

.search-icon i {
  margin-left: 10px;
}


.nav-content {
  /* margin-left: 40px; */
  position: relative;
  z-index: 1;
}

.nav-content ul {
  display: flex;
  align-items: center;
}



.nav-content .cross-btn {
  margin-bottom: 50px;
  background: transparent;
  color: #fff;
  border: transparent;
  font-size: 24px;
  line-height: 34px;
  padding: 5px 15px;
  display: none;
}

.nav-content .cross-btn:hover {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.nav-content li {
  display: block;
  padding: 5px 15px;
}

.nav-content li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  position: relative;
  
}

.nav-content li a:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-content li a::after {
  opacity: 0;
  content: "";
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #Fff;
  z-index: -1;
  
}

.terms-links {
  margin-top: 120px;
}

.terms-links li a {
  font-size: 12px;
  line-height: 22px;
}

/*header styling ends*/
/*banner styling starts*/
.container {
  width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.banner-image {
  display: none;
}

.banner {
  background: url("https://ucarecdn.com/594cb7dd-28f3-449f-9aa3-0e6dcb21e631/banner.png") no-repeat center center / 100%;
  width: 100%;
  height: 100%;
}

.banner-inner {
  height: calc(100vh + 97px);
  display: flex;
  align-items: center;
  -webkit-align-items: center;
}

.banner-content h1 {
  color: #3d4244;
  font-weight: 300;
  font-size: 47px;
  line-height: 70px;
  margin-bottom: 40px;
}

.banner-content h1 b {
  font-weight: 700;
}

.banner-content span {
  color: #fccb02;
  font-weight: 700;
}

.theme-btn {
  background-color: #fccb02;
  padding: 16px 50px;
  text-decoration: none;
  color: #3d4244;
  display: inline-block;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 5px;
}

.theme-btn:hover {
  background-color: transparent;
  border: 1px solid #fccb02;
}

/*jquery styling */
.nav-left {
  left: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.download_btn {
  height: 64px;
  display: inline-block;
  border: 3px solid #e43;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #e43;
  overflow: hidden;
}

.download_btn.icon {
  margin-right: 6px;
}

.download_btn .face-primary,
.download_btn .face-secondary {
  display: block;
  padding: 0 32px;
  line-height: 64px;
  transition: margin 0.4s;
}

.download_btn .face-primary {
  background-color: #e43;
  color: #fff;
}

.download_btn:hover .face-primary {
  margin-top: -64px;
}

.download_btn .icon {
  margin-right: 10px;
}

.icon>svg {
  fill: #fff;
  color: #fff;
}

.face-secondary .icon>svg {
  fill: #000;
  color: #000;
}

.nav-content .cross-btn>svg {
  fill: #fff;
  font-size: 30px;
}

.header_button {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  transition: all .25s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffb400;
}

.header_button:hover {
  color: #fff;
}

.header_button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: all .3s ease-out;
  background: #ffb400;
}

.header_button:hover:before {
  transform: translateX(0);
}

.button-text {
  position: relative;
  z-index: 2;
  transition: all .3s ease-out;
}

.header_button .icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #fff;
  border-radius: 50%;
  background-color: #ffb400;
}

.hamburger-iconn {
  display: none;
}
.header-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*banner styling ends*/
@media (min-width: 1450px) and (max-width: 1599px) {
  .container {
    width: 1310px;
  }

  .nav {
    width: 500px;
    top: -43px;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {

  .nav {
    width: 500px;
    top: -48px;
  }
}

@media (max-width: 1199px) {
  .nav {
    width: 400px;
    top: -45px;
  }

  .nav-content .cross-btn {
    margin-bottom: 30px;
  }

  .nav-content li {
    margin-bottom: 20px;
  }

  .terms-links {
    margin-top: 60px;
  }

  /*banner styling starts*/
  .container {
    width: 960px;
    padding: 0px 15px;
  }

  .banner-content h1 {
    font-size: 37px;
    line-height: 60px;
    margin-bottom: 20px;
  }

  .theme-btn {
    padding: 14px 50px;
  }

  /*navbar styling starts*/
  .nav {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    max-height: 400px;
    transition: all ease .3s;
    transform: scaleY(0);
    transform-origin: top;
    background: rgb(91, 73, 255);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: block;
  }

  

  .hamburger-iconn {
    width: 25px;
    height: 20px;
    margin-right: 15px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    display: block;
  }

  .hamburger-iconn span {
    height: 3px;
    transition: all .3s ease;
    left: 0;
    background: #fff;
    display: inline-block;
    width: 100%;
    position: absolute;
  }

  .hamburger-iconn span:first-child {
    top: 0;
  }

  .hamburger-iconn span:nth-child(2) {
    top: 52%;
    transform: translateY(-65%);
  }

  .hamburger-iconn span:last-child {
    bottom: 0;
  }
  .nav.false {
    transform: scaleY(1);
}
.nav-content ul{
  display: block;
}
.nav-content li a::after{
  transform: none;
  margin-left: 0;
  
}
}

@media (min-width: 768px) and (max-width: 991px) {
  

  .nav-content .cross-btn {
    margin-bottom: 30px;
  }

  .nav-content li {
    margin-bottom: 20px;
  }

  .terms-links {
    margin-top: 100px;
  }

  /*banner styling starts*/
  .container {
    width: 720px;
    padding: 0px 15px;
  }

  .banner-content h1 {
    font-size: 27px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  .theme-btn {
    padding: 14px 40px;
  }
}


@media(max-width:991px) {
  .header_wrapper .header_button {
    overflow: visible;
    font-size: 0;
    padding: 0;
  }

  .header_wrapper .header_button .button-text {
    display: none;
  }

  .header_wrapper .header_button .icon {
    top: -25px;
  }

}

@media (max-width: 767px) {

 

  .nav-content .cross-btn {
    margin-bottom: 20px;
  }

  .nav-content li {
    margin-bottom: 10px;
  }

  .nav-content li a {
    font-size: 14px;
    line-height: 24px;
  }

  .terms-links {
    margin-top: 50px;
  }

  header {
    padding: 20px;
  }

  header .search-icon span {
    display: none;
  }

  header .search-icon i {
    margin: 0px;
  }

  header .logo img {
    width: 150px;
  }

  .hamburger-icon {
    font-size: 22px;
    line-height: 32px;
  }

  /*banner styling starts*/
  .banner {
    background: transparent;
  }

  .banner-image {
    display: block;
  }

  .banner-image img {
    display: block;
    max-width: 100%;
  }

  .banner-inner {
    flex-direction: column;
    margin-top: 100px;
    height: auto;
  }

  .banner-content {
    margin-top: 15px;
    text-align: center;
  }

  .container {
    width: 100%;
    padding: 0px 15px;
  }

  .banner-content h1 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .theme-btn {
    padding: 10px 25px;
    font-size: 14px;
    line-height: 24px;
  }
}